apiVersion: v1
kind: Service
metadata:
  name: quotes-service
  namespace: quotes-server
  labels:
    app: quotes-server
spec:
  type: ClusterIP
  ports:
  - port: 8082
    targetPort: 8082
    protocol: TCP
    name: http
  selector:
    app: quotes-server

