apiVersion: v1
kind: Service
metadata:
  name: weather-service
  namespace: weather-server
  labels:
    app: weather-server
spec:
  type: ClusterIP
  ports:
  - port: 8083
    targetPort: 8083
    protocol: TCP
    name: http
  selector:
    app: weather-server

