apiVersion: v1
kind: Service
metadata:
  name: moon-service
  namespace: moon-server
  labels:
    app: moon-server
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: moon-server

